<div class="background" [ngStyle]="{'background-image':'url(' + backgroundImage + ')'}">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            {{title}}
            <span class="spacer"></span>
            <button mat-icon-button (click)="triggerPicker()">
                <mat-icon aria-label="Start">play_arrow</mat-icon>
            </button>
            <button mat-icon-button (click)="reset()">
                <mat-icon aria-label="Reset">refresh</mat-icon>
            </button>
            <button mat-icon-button (click)="goToSettings()">
                <mat-icon aria-label="Settings">settings</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <section style="text-align:center">
        <h2 class="remaining-time mt-4">{{time}}</h2>
    </section>

    <div class="container-fluid mb-4">
        <div class="row justify-content-center">
            <div class="col mt-4" *ngFor="let member of teamMembers">
                <mat-card class="mx-auto" [ngClass]="{'mat-card-selected': member.selected, 'mat-card-disabled': member.disabled}" (click)="onMemberClick(member)">
                    <mat-card-header>
                        <mat-card-title class="member-title">{{member.name}}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="{{member.image}}" alt="{{member.name}}">
                </mat-card>
            </div>
        </div>
    </div>
</div>