.trigger-button {
  width: 80vw;
  height: 50px;
  font-size: 25px;
}

.spacer {
  flex: 1 1 auto;
}

.remaining-time {
  color: white;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.member-title {
  text-align: center;
  font-size: 25px;
}

.mat-card-selected {
  background-color: yellow;
}

.mat-card-disabled {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  opacity: 0.5;
}

mat-card {
  overflow: hidden;
  height: 250px;
  width: 300px;
}

mat-card-image {
  width: 100%;
  height: auto;
}

mat-card:hover {
  box-shadow: 10px 10px 5px dimgray;
}
