@import '../../../scss/variables.scss';

.background {
  background-size: cover;
  height: 100vh;
}

.mat_toolbar-row {
  &__spacer {
    flex: 1 1 auto;
  }

  &__icon {
    transition: all 0.5s;

    &--scale {
      transform: scale(1);

      &:hover {
        transform: scale(1.25);
      }
    }

    &--rotate {
      transform: rotate(0deg);

      &:hover {
        transform: rotate(45deg);
      }
    }
  }
}

.text-section {
  text-align: center;

  &__hint {
    font-size: 0.6rem;
  }

  &--white {
    color: $color-white;
  }

  &--black {
    color: $color-black;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.member-card {
  height: 250px;
  width: 300px;
  transform: translate(0);
  transition: all 0.5s;
  overflow: hidden;

  &__title {
    text-align: center;
    font-size: 1.5rem;
  }

  &:hover {
    box-shadow: 0 0.5rem 0.5rem 0.5rem rgba($color-black, 0.2),
      0 0.5rem 0.5rem 0 rgba($color-black, 0.14),
      0 0.5rem 0.5rem 0 rgba($color-black, 0.12) !important;
    transform: translateY(-0.2rem);
  }

  &--selected {
    background-image: linear-gradient(
      to bottom right,
      $color-selected-light,
      $color-selected-dark
    );
  }

  &--disabled {
    opacity: 0.5;
  }
}

.mat-card-image {
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}
