@import '../../../scss/variables.scss';
@import '../../../scss/toolbar-icon.scss';

.background {
  background-color: $color-settings-background;
  height: 100%;

  &--white {
    background-color: $color-white;
  }
}

.flex-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__import {
    width: 45%;
  }
}

.option {
  &__flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__image {
    width: 25%;
    height: 100%;
  }
}

.bold-text {
  font-weight: bold;
}

.form__submit-button {
  width: 100%;
}

.mat-toolbar-row__spacer {
  flex: 1 1 auto;
}

.form-group-container {
  display: flex;
  flex-direction: column;

  & > * {
    width: 100%;
  }
}
