.container {
  background-color: white;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.file-import-flex-container,
.mat-option-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.select-image {
  width: 50px;
  height: 25px;
}

.example-spacer {
  flex: 1 1 auto;
}

.form-group-container {
  display: flex;
  flex-direction: column;
}

.form-group-container > * {
  width: 100%;
}

.team-members-container {
  background-color: whitesmoke;
}

h1 {
  color: white;
}
