.background {
  background-color: #e8eaf6;
  height: 100%;
}

.container {
  background-color: white;
}

.import-button {
  width: 45%;
}

.flex-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.mat-option-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.select-image {
  width: 50px;
  height: 25px;
}

.submit-button {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.form-group-container {
  display: flex;
  flex-direction: column;
}

.form-group-container > * {
  width: 100%;
}

h1 {
  color: white;
}
