<div style="text-align:center">
    <section>
        <button (click)="triggerPicker($event)">{{title}}</button>
        <h2>{{time}}</h2>
    </section>

    <ng-container class="row" *ngFor="let member of teamMembers">
        <div class="column" [ngClass]="{'card': !member.disabled, 'card-disabled': member.disabled}" (click)="onMemberClick(member)">
            <img class="image" src="{{member.image}}">
            <h2 class="container">{{member.name}}</h2>
        </div>
    </ng-container>
</div>