<div style="text-align:center">
    <div>
        <button (click)="triggerPicker($event)">{{title}}</button>
        <h2>{{time}}</h2>
    </div>

    <div class="row">
        <ng-container *ngFor="let member of teamMembers">
            <div class="column">
                <div [ngClass]="{'card': !member.disabled, 'card-disabled': member.disabled}" (click)="onMemberClick(member)">
                    <img src="{{member.image}}" alt="Jane" style="height:200px;width:300px">
                    <div class="container">
                        <h2>{{member.name}}</h2>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>