.toolbar-icon {
  &--rotate {
    transition: all 0.5s;
    transform: rotate(0deg);

    &:hover {
      transform: rotate(45deg);
    }
  }

  &--scale {
    transition: all 0.5s;
    transform: scale(1);

    &:hover {
      transform: scale(1.25);
    }
  }
}
