<h2 mat-dialog-title>{{'PAGES.SETTINGS.ABOUT_DIALOG.TITLE' | translate}} (Version {{appVersion}})</h2>
<mat-dialog-content>
    <p>{{'PAGES.SETTINGS.ABOUT_DIALOG.MESSAGE_PART_1' | translate}} &hearts; {{'PAGES.SETTINGS.ABOUT_DIALOG.MESSAGE_PART_2'
        | translate}} {{year}}</p>
    <div class="flex-container mb-4">
        <button mat-button (click)="openGitHubUrl()">{{'PAGES.SETTINGS.ABOUT_DIALOG.GITHUB_BUTTON' | translate}}</button>
        <button mat-button (click)="openMokkappsUrl()">{{'PAGES.SETTINGS.ABOUT_DIALOG.WEBSITE_BUTTON' | translate}}</button>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>{{'GENERAL.CLOSE' | translate}}</button>
</mat-dialog-actions>