<h2 mat-dialog-title>{{'PAGES.SETTINGS.ABOUT_DIALOG.TITLE' | translate}} (Version {{appVersion}})</h2>
<mat-dialog-content>
    <p>Entwickelt mit &hearts; von © Mokkapps {{year}}</p>
    <div class="container mb-4">
        <button mat-button (click)="openGitHubUrl()">Zur GitHub Projekt-Seite</button>
        <button mat-button (click)="openMokkappsUrl()">Mokkapps Website</button>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>{{'GENERAL.CLOSE' | translate}}</button>
</mat-dialog-actions>